$column-count: 1;

.dashboard {
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2rem;
    overflow: hidden;

    &__content {
        padding: 1.5rem;
        color: rgba(0, 0, 0, 0.8);
    }

    &__header {
        display: flex;
        justify-content: end;

        > * {
            margin-block: 1rem;
            font-size: 2rem;
            font-weight: 200;
        }
    }

    &__grid {
        display: grid;
        gap: 1.5rem;

        @media (min-width: $small) {
            $column-count: 2;
            grid-template-columns: repeat($column-count, 1fr);

            &__widget-2 {
                grid-column: 1/3;
            }
        }
    }
}