$column-count: 1;

.dashboard {
    max-width: 800px;
    background-color: $bgDashboard;
    margin-inline: auto;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.493);

    &__content {
        padding: 1rem 2rem;
        color: rgba(0, 0, 0, 0.8);

        @media (min-width: $small) {
            padding: 2rem 4rem;
        }
    }

    &__header {
        display: flex;
        justify-content: center;

        >* {
            margin-block-end: 2rem;
            font-size: 2rem;
            font-weight: 200;

            @media (min-width: $small) {
                margin-block-end: 4rem;
            }
        }
    }

    &__grid {
        display: grid;
        gap: 4rem;

        @media (min-width: $small) {
            $column-count: 2;
            grid-template-columns: repeat($column-count, 1fr);

            &__widget-2 {
                grid-column: 1/3;
            }
        }
    }
}