@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek&display=swap');

:root {
  font-family: Roboto, Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  color: $textColor;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

body {
  background-color: #ffb457;
  transition: background-color $slowTransition;
}

h1, h2, h3, h4, h5 {
  font-family: Anek, Verdana, Geneva, Tahoma, sans-serif;
}

.i-icon {
  vertical-align: text-top;
}